<div class="shops-container">
  <div fxLayout ="row" style="padding-bottom: 30px">
    <div class="shops-notification">Нераспределенные магазины: {{dataService.shopsCounter}}</div>
    <div class="icon-warning" *ngIf="dataService.shopsCounter !== 0"></div>
  </div>
  <mat-action-list *ngFor="let shop of dataService.shops">
    <button mat-list-item *ngIf="!shop.distributed" (click)="dataService.addShopToSpecialist(shop)">
      <div fxLayout="row">
        <div class="icon-arrow"></div>
        <div class="name-in-circle" fxLayoutAlign="center">
          <div>BS</div>
        </div>
        <div class="shop-data">
          <div class="shop-header">{{shop.name}}</div>
          <div class="shop-address">{{shop.fullAddress}}</div>
        </div>
      </div>
    </button>
  </mat-action-list>
</div>
