<div class="shops-container">
  <div fxLayout ="row">
    <div class="shops-notification">Нераспределенные магазины: 4</div><div class="icon-warning"></div>
  </div>
  <mat-action-list>
    <button mat-list-item>
      <div fxLayout="row">
        <div class="icon-arrow"></div>
        <div class="name-in-circle" fxLayoutAlign="center">
          <div>BS</div>
        </div>
        <div class = "shop-data">
          <div class="shop-header">Brandshop на Дмитровской 7</div>
          <div class="shop-address">г. Москва, ул. Курская, д. 392б, стр. 3, офис 239</div>
        </div>
      </div>
    </button>
  </mat-action-list>
</div>
