.shops-container{
  padding: 20px;
  margin-top: 8px;
  border: 1px dashed rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 4px;
  min-height: 600px;
  .mat-list-base{
    padding-top: 0;
  }
}
.shops-notification{
  padding-top: 2px;
  color: rgba(0, 0, 0, 0.32);
}
