<div class="container">
  <div class="tab-nav">
    <ul class="tabs">
      <li *ngFor="let specialist of dataService.specialists" (click)="dataService.changeCurrentSpecialist(specialist)">
        <div>
          Tab {{specialist.id}}
        </div>
      </li>
      <li class="button-tab">
        <button mat-mini-fab color="none" (click)="addSpecialist()">
          +
        </button>
      </li>
    </ul>
  </div>
  <div class="tab-body" *ngIf="!loading">
    <mat-card>
      <div>
        <h3>Специалист</h3>
        <div>
          <mat-list>
            <mat-list-item>
              <span class="photo">img</span>
              <span class="specialist-name">{{dataService.currentSpecialist.name}}</span>
              <span class="shops-counter">{{dataService.currentSpecialist.shops.length}} магазинов</span>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
      <div>
        <h3>Магазины</h3>
        <mat-list *ngFor="let shop of dataService.currentSpecialist.shops">
          <mat-list-item>
            <div fxLayout="row">
              <div class="name-in-circle" fxLayoutAlign="center">
                <div>BS</div>
              </div>
              <div class = "shop-data">
                <div class="shop-header">{{shop.name}}</div>
                <div class="shop-address">{{shop.fullAddress}}</div>
              </div>
              <div style="padding-left: 30px;">
                <button mat-mini-fab color="#ADADAD" (click)="dataService.removeShopFromSpecialist(shop.id)">
                  -
                </button>
              </div>
            </div>
          </mat-list-item>
        </mat-list>
      </div>
    </mat-card>
  </div>
</div>
<div *ngIf="!dataService.specialists || !dataService.specialists.length">
  <div>
    <button mat-mini-fab color="none" (click)="addSpecialist()">
      +
    </button>
  </div>
</div>
