<div class="container" *ngIf="dataService.specialists && dataService.specialists.length">
  <div class="tab-nav">
    <ul class="tabs">
      <li *ngFor="let specialist of dataService.specialists" (click)="dataService.changeCurrentSpecialist(specialist)">
        <div mat-card-avatar class="header-image" matBadge="{{specialist.shops.length}}"
             [ngStyle]="{'background-image': 'url(./assets/mock/img/' + specialist.logo + ')'}"></div>
      </li>
      <li class="button-tab" *ngIf="dataService.specialists.length < dataService.allSpecialists.length">
        <button mat-mini-fab color="none" (click)="dataService.addSpecialist()">
          +
        </button>
      </li>
    </ul>
  </div>
  <div class="tab-body">
    <mat-card>
      <div>
        <h3>Специалист</h3>
        <div fxLayout="row">
          <div mat-card-avatar class="header-image"
               [ngStyle]="{'background-image': 'url(./assets/mock/img/' + dataService.currentSpecialist.logo + ')'}">
          </div>
          <div class="specialist-name">{{dataService.currentSpecialist.name}}</div>
          <div class="shops-counter">{{dataService.currentSpecialist.shops.length}} магазинов</div>
          <div class="icon-delete-container" (click)="dataService.deleteSpecialist(dataService.currentSpecialist.id)">
            <div class="icon-delete" style="margin-right: 10px;"></div>
          </div>
        </div>
      </div>
      <div>
        <h3>Магазины</h3>
        <mat-list *ngFor="let shop of dataService.currentSpecialist.shops">
          <mat-list-item>
            <div fxLayout="row" style="width: 100%;">
              <div class="name-in-circle" fxLayoutAlign="center">
                <div>BS</div>
              </div>
              <div class = "shop-data">
                <div class="shop-header">{{shop.name}}</div>
                <div class="shop-address">{{shop.fullAddress}}</div>
              </div>
              <div class="icon-delete-container" (click)="dataService.removeShopFromSpecialist(shop.id)">
                <div class="icon-delete-shop"></div>
              </div>
            </div>
          </mat-list-item>
        </mat-list>
        <div class="no-shops" *ngIf="!dataService.currentSpecialist.shops || !dataService.currentSpecialist.shops.length">
          <div>Не назначены</div> <div class="icon-warning"></div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
<div *ngIf="!dataService.specialists || !dataService.specialists.length" fxLayout ="column">
  <div fxLayout ="row">
    <div>
      <button mat-mini-fab color="none" (click)="dataService.addSpecialist()">
        +
      </button>
    </div>
    <div class ="button-after-label">
      Добавить специалиста
    </div>
  </div>
  <div class="no-specialist-area" fxLayout>
    <div fxFlexAlign="center">
      <h3>Специалист не назначен</h3>
      <span>Чтобы начать работу с нераспределенными магазинами,<br>вам необходимо добавить хотя бы одного специалиста</span>
      <div class="icon-avatar"></div>
    </div>
  </div>
</div>
