html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: #F2F2F2;}
.icon-arrow{
  width: 40px;
  height: 40px;
  position: relative;
  background-image: url('./assets/icons/Vector.png');
  background-position: left center;
  background-repeat: no-repeat;
}

.icon-warning{
  width: 24px;
  height: 24px;
  margin-left: 10px;
  position: relative;
  background-image: url('./assets/icons/warning.png');
  background-position: left center;
  background-repeat: no-repeat;
}

.icon-delete{
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
  background-image: url('./assets/icons/delete.png');
  background-position: left center;
  background-repeat: no-repeat;
}

.icon-delete-shop{
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
  background-image: url('./assets/icons/delete2.png');
  background-position: left center;
  background-repeat: no-repeat;
}

.icon-avatar{
  width: 60px;
  height: 60px;
  padding-top: 20px;
  position: relative;
  background-image: url('./assets/icons/user_circle_thin.png');
  background-position: center center;
  background-repeat: no-repeat;
}

.icon-done-circle{
  width: 15px;
  height: 15px;
  float: right;
  padding-top: 20px;
  padding-left: 18px;
  position: relative;
  background-image: url('./assets/icons/done_circle.png');
  background-position: center center;
  background-repeat: no-repeat;
}

.name-in-circle{
  background: rgba(0, 0, 0, 0.72);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #F2F2F2;
  div{
    padding-top: 10px;
  }
}

.shop-data{
  padding-top: 3px;
  padding-left: 30px;
  .shop-header{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }

  .shop-address{
    padding-top: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 12px;
    color: rgba(0, 0, 0, 0.32);
  }
}

